{% include "base.html" %}
{% block content %}
  <h1>
    TODO list
    <a href="{% url "todo:task_create" %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  {% for task in task_list %}
    <h5>{{ task.content }} {{ task.is_done }}</h5>
    <br>
    {{ task.created_at }}
    <br>Tags:
    {% for tag in task.tags.all %}
      {{ tag.name }}
    {% endfor %}

      <a style="text-decoration: none;" href="{% url "todo:task_update" pk=task.id %}">update</a>
    <br><br>
  {% endfor %}
{% endblock %}